* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-family: 'Noto Sans', sans-serif;
}

.NavMenu {
  float: right;
  margin-right: 20px;
}

.Header {
  background-image: url("../assets/Background.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

ul {
  padding: 0;
  margin-top: 20px;
}

li {
  display: inline-block;
  padding: 15px 30px 0px 30px;
  font-size: 22px;
}

.navItem {
  cursor: pointer;
}

a {
  color: #004e52;
  text-decoration: none;
}

a:hover {
  color: #004e52;
}

#headerMainButton {
  width: 435px;
  padding: 20px;
  background-color: rgba(249, 249, 249, 0);
  border: 3px solid black;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  bottom: 60px;
  right: 50px;
  border-radius: 20px;
  outline: 0;
}

#headerMainText {
  position: absolute;
  top: 40%;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 35px;
  font-weight: 600;
  color: #004e52;
  text-align: center;
}

#profileImage {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: black;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  margin-top: 200px;
}

#Description {
  margin-top: 100px;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  font-size: 22px;
  color: #004e52;
}

.buttonModel {
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-radius: 12px;
  background-color: white;
  color: #004e52;
  border: 1px solid black;
  outline: 0;
  cursor: pointer;
}

.buttonModel:hover {
  background-color: #d1d1d1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#aboutButton {
  position: absolute;
  right: 15%;
  margin-top: 80px;
}

#projectsButton {
  position: absolute;
  right: 15%;
  margin-top: 80px;
}

.pageSectionOne {
  height: 800px;
}

.pageSectionTwo {
  height: 600px;
}

#pSTittle {
  margin-left: 240px;
  color: #004e52;
}

.projectsHandler {
  width: 80%;
  margin-left: 10%;
  margin-top: 55px;
  height: 210px;
  white-space: nowrap;
  overflow-y: hidden;
}

.project {
  height: 190px;
  border: 1px solid black;
  width: 305px;
  display: inline-block;
  margin-left: 50px;
  cursor: pointer;
}

#nextButton {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  right: 10%;
  margin-top: -125px;
  border: 2px solid black;
  -webkit-box-shadow: 1px 0px 5px 0px;
          box-shadow: 1px 0px 5px 0px;
  outline: 0;
  cursor: pointer;
}

#projectOne {
  background-image: url("../assets/projectOne.png");
  background-size: 100% 100%;
}

#projectTwo {
  background-image: url("../assets/projectTwo.png");
  background-size: 100% 100%;
}

.languageHandler {
  margin-left: 12.5%;
  margin-top: 55px;
  width: 72.5%;
  height: 600px;
  border: 0.5px solid rgba(190, 190, 190, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px #c7c7c7;
          box-shadow: 0px 0px 5px 1px #c7c7c7;
}

.pageSectionThree {
  height: 900px;
}

.LangTitle {
  position: absolute;
  width: 15%;
}

.languages {
  width: 90%;
  margin-left: 5%;
  margin-top: 45px;
  padding: 15px 0px 15px 0px;
  font-size: 24px;
  font-weight: 500;
  color: #004e52;
}

.LevelBack {
  float: right;
  width: 500px;
  height: 20px;
  border: 0.5px solid grey;
  margin-right: 20px;
}

#note {
  float: right;
  margin-top: 50px;
  margin-right: -550px;
  color: #004e52;
  font-size: 14px;
}

.footer {
  width: 100%;
  height: 200px;
  background-image: url("../assets/footerImage.png");
  background-size: 100% 101%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SiteMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 150px;
  width: 50%;
}

.SM_Header {
  color: #004e52;
}

.SM_Section {
  padding: 25px;
  margin-top: 40px;
}

.SM_Title {
  font-size: 20px;
  color: #3c8384;
  text-align: center;
}

.SM_Header {
  position: absolute;
  left: 430px;
  margin-top: 20px;
  font-size: 22px;
}

.SM_UnderTitle {
  color: #8abbbb;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}

.Copyright {
  color: #b5b5b5;
  float: right;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
  position: absolute;
  right: 20px;
  margin-top: 170px;
}

.FT_Logo {
  margin-left: 70px;
  margin-top: 70px;
  cursor: pointer;
}

.FT_Logo:hover {
  opacity: 0.8;
}

.Logo {
  margin-left: 80px;
}
/*# sourceMappingURL=style.css.map */